
PORT=3000
NODE_ENV=development
APP_URL=http://localhost:${PORT}
DEBUG=true
CORS_ORIGIN=http://localhost:3000

# DB_HOST=localhost
# DB_PORT=5432
# DB_USER=postgres
# DB_PASSWORD=secret
# DB_NAME=nestjs_db

MONGO_URI="mongodb://localhost:27017/nestjs-lms"

JWT_SECRET="supersecret"

JWT_EXPIRES_IN="1h"